@inject ICurrencyServices CurrencyService
@implements IDisposable

<div class="top-menu">
    <img src="icons/gold-coin-icon.jpg" />
    <span class="popover-header">
        @CurrencyService.Currency
    </span>
    
    <AddCurrency />
</div>


@code {

    protected override void OnInitialized()
    {
        CurrencyService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CurrencyService.OnChange -= StateHasChanged;
    }
}

