@page "/build"
@inject ICurrencyServices CurrencyService
@inject IUnitService UnitService
@inject IToastService ToastService

<h3>Build</h3>

<div class="form-group">
    <select @bind="selectedUnitId" class="form-control">
        @foreach (var unit in UnitService.Units)
        {
            <option value="@unit.Id">@unit.Title // @unit.CurrencyCost Coins</option>
        }
    </select>
</div>

<button class="btn btn-primary" @onclick="BuildUnit">Build</button>

@if (notEnoughCurrency)
{
    <div class="validation-message">
        Not enough coins! 
    </div>
}

@code {
    int selectedUnitId = 1;
    bool notEnoughCurrency = false;

    public void BuildUnit()
    {
        var selectedUnit = UnitService.Units.FirstOrDefault(unit => unit.Id == selectedUnitId);

        if (CurrencyService.Currency < selectedUnit.CurrencyCost)
        {
            notEnoughCurrency = true;
            ToastService.ShowError("Not enough coins!");
            return;
        }
        else notEnoughCurrency = false;

        CurrencyService.ConsumeCurrency(selectedUnit.CurrencyCost);
        UnitService.AddUnit(selectedUnitId);
    }
}
